.container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
    height: 100dvh;
    min-height: 500px;
    padding: 1rem;
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
  }
  
  .hero {
    max-width: 200px;
    width: 100%;
    height: auto;
    border-radius: 70px;
    padding: 40px;
  }
  
  .colorModeContainer {
    position: relative;
    display: inline-block;
    padding: 10px; 
  }
  
  .colorMode {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    z-index: 2;
  }
  
  .info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    font-size: 1.5rem; 
  }
  
  .icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 10px 0;
  }
  
  .icons img {
    width: 30px;
    height: 30px;
  }
  
  .info p {
    font-size: 1rem;
    max-width: 24ch;
  }
  
  button {
    background-color: var(--btn-color);
    color: var(--btn-text-color);
    border: none;
    border-radius: 20px;
    width: 126px;
    height: 50px;
    font-weight: bold;
    box-shadow: 0 4px 4px rgba(10, 10, 10, 0.25);
    transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;
  }
  
  button:hover {
    transform: scale(1.05);
  }
  
  button:active {
    transform: translateY(2px);
    box-shadow: 0 2px 2px rgba(10, 10, 10, 0.25);
  }
  
  /* Medium screens (tablets and up) */
  @media (min-width: 768px) {
    .container {
      flex-direction: row-reverse;
      justify-content: space-evenly;
      align-items: center;
      padding: 2rem;
      transform: scale(2.5);
    }
  
    .hero {
      max-width: 300px;
    }
  
    .info p {
      font-size: 1.125rem;
    }
  }
  
  /* Large screens (desktop and up) */
  @media (min-width: 1200px) {
    .hero {
      max-width: 400px;
    }
  
    .info p {
      font-size: 1.25rem;
    }
  }
  